/* inter-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/inter-v12-cyrillic_latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/inter-v12-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/inter-v12-cyrillic_latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Styling */

* {
    color: #FFF;
}

.background {
    background-image: url('/img/main_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* .wrapper {
    max-width: 1280px;
    margin: 0 auto; 
}  */

.day {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 505px;
    height: 138px;
    left: 84px;
    top: 542px;
    overflow-x: scroll;
    text-align: center;
}

.first_line {
    width: 10px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.second_line {
    width: 23px;
    height: 23px;
    left: 2px;
    top: 2px;
}

.third_line {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    width: 23px;
    height: 23px;
    left: 2px;
    top: 2px;
}

.logo {
    position: absolute;
    width: 162px;
    height: 61px;
    left: 67px;
    top: 15.8px;
}

.logo>p {
    width: 128px;
    height: 29px;
    left: 83px;
    top: 30.8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.logo>p>span {
    color: #F0D12D;
    font-style: italic;
}

.search>h2 {
    position: absolute;
    width: 146px;
    height: 116px;
    left: 83px;
    top: 303px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 116px;
}



.transparent_city {
    display: none;
}

.search .input {
    position: absolute;
    height: 48px;
    left: 80px;
    top: 490px;
    background-image: url('/img/loupe.svg');
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 19px 16px;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 5px 35px 6px 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: black;
}

.search>p {
    display: inline-flex;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    height: 48px;
    left: 80px;
    top: 490px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}


.right_block {
    position: relative;
    left: 50%;

    display: flex;
    flex-wrap: wrap;

    width: 652px;
    height: 1100px;

    font-family: 'Inter';
    font-style: normal;
    color: rgba(255, 255, 255, 0.47);

    background: rgba(0, 0, 0, 0.32);
    
    overflow-y: scroll;
    padding: 30px 82px 25px 30px;
}

.right_block div {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.block_header {
    display: flex;
    height: 20px;
}

.first_block {
    padding: 15px;
    width: 545px;
    height: 184px;
}

.block_header p {
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.block_header img {margin-right: 10px}

.seven_days {
    display: flex;
    margin-top: 10px;
    height: 24px;
    width: 100%;
}
.seven_days p {
    margin: 0;
    display: block;
    margin-right: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.seven_days p:nth-child(1) {font-weight: 400}
.seven_days p:last-child {margin-right: 0}

.seven_days img {
    margin-right: 10px;
    margin-top: 3px;
    height: 20px;
    width: 20px;
}

.forecast_gradient {
    background-color: rgba(255, 255, 255, 0.26);
    height: 5px;
    width: 100%;
    margin-right: 10px;
    margin-top: 10px;
}

.little_blocks {
    margin-right: 10px;
    padding: 15px;

    width: 175px;
    height: 165px;
    align-items: center;
    justify-content: space-evenly;
}

.little_blocks:nth-child(4n) {margin-right: 0;}

.prop_value {
    margin: 0;
    padding-top: 10px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.little_blocks>h4 {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
    padding: 10px;
}

.value_UV {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}
.sunset > .block_header {margin-bottom: 15px;}

.uv_gradient {
    background: linear-gradient(90deg, #91E4BC, #9A77E5, #F36060, #FCE411);
    height: 5px;
    width: 100%;
    margin: 10px;
}

.sunrise_info, .sunrise_time {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

.rainfall>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}
.rainfall> p:nth-child(4n), span.rainfall_value {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    margin: 0;
}

.feels_like > p:last-child {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

.humidity > p:last-child {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

.pressure > p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
    margin: 0;
}

.map_block {
    width: 545px;
    height: 339px;
}