/* inter-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/inter-v12-cyrillic_latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/inter-v12-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/inter-v12-cyrillic_latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Styling */
:root {
    
}

/* * {
    color: #FFF;
} */

body {
    margin: 0;
    padding: 0;
}

.background {
    max-width: 100%;
    height: unset;
    background-image: url('/img/bg_test.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.wrapper {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}  

main {
    max-width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
}

.left_block {
    flex-basis: 52%;
    font-family: 'Inter';
    font-style: normal;
    padding: 31px 0 0 83px;
}



.logo {
    position: relative;
}

.logo>p {
    width: 128px;
    height: 29px;
    color: #FFF;
    margin: 0;
    
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.logo>p>span {
    color: #F0D12D;
    font-style: italic;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 98vh;
}

.search>h2 {
    display: inline;
    margin: 0 0 4px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 116px;
    color: #FFF;
}
/* Until 24h will be done*/
.search > p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 170px;
}

.transparent_city {display: none}

.search_label {
    display: flex;
}

.btn {
    padding: 16px;
    background-color: unset;
    background-image: url('/img/loupe.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.search .input {

    background-color: unset;
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 19px 16px;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 5px 35px 6px 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 425px;
    color: #FFF;
}

.search>p {
    display: inline-flex;

    font-family: 'Inter';
    font-style: normal;
    height: 48px;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}





















.right_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    flex-basis: 48%;
    font-family: 'Inter';
    font-style: normal;
    color: rgba(255, 255, 255, 0.47);

    background: rgba(0, 0, 0, 0.32);
    height: 100vh;
    padding: 30px 82px 0 30px;
    margin: 0;
}
.right_block > section {
    display: inline-block;
    overflow: hidden;
}
.right_block section {
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.forecast7days {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.data7days {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 10px;*/
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.data7days :first-child{margin: 0}

.slider7days {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 25px;
    height: 5px;
    width: 100%;
}

.data7days * {
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

section header *{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

section header img {margin-right: 5px;}

.indexUV {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.sliderUV {
    -webkit-appearance: none;
    width: 140px;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(90deg, #91E4BC, #9A77E5, #F36060, #FCE411);
   
}

.right_block :not(:first-child) div {
   
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

.right_block :not(:first-child) div * {
    margin: 0;
    margin-top: 5px;
    text-align: center;
    
}

section > div > p{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.sunset {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.rainfall {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.feels_like {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.humidity {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}


.pressure {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.map_block {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.right_block > section > header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.value_UV {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    height: 10px;
}

.data7days > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.sunset .sunset_time {padding-top: 25px}
.sunset .sunrise_info {padding-top: 18px}
.rainfall > div > .last24hours {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.humidity > div > .humidity_value { padding-top: 20px}
.humidity > div > p {padding-top: 10px;}

