/* inter-300 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/inter-v12-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/inter-v12-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/inter-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Styling */

/* * {
    color: #FFF;
} */

.body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.current_temp {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 96px;
}

.background {
    background-image: url('img/main_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} 

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.day {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 505px;
    height: 138px;
    left: 84px;
    top: 542px;
    overflow-x: scroll;
    text-align: center;
}

.first_line {
    width: 10px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.second_line {
    width: 23px;
    height: 23px;
    left: 2px;
    top: 2px;
}

.third_line {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    width: 23px;
    height: 23px;
    left: 2px;
    top: 2px;
}

.logo {
    position: absolute;
    width: 162px;
    height: 61px;
    left: 67px;
    top: 15.8px;
}

.logo>p {
width: 128px;
height: 29px;
left: 83px;
top: 30.8px;
color: #fff;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
}

p>span {
    color: #F0D12D;
    font-style: italic;
}

.search>h2 {
    position: absolute;
    width: 146px;
    height: 116px;
    left: 83px;
    top: 303px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 116px;
}

.loupe {
  position: absolute;
  left: 6.14%;
  right: 9.38%;
  top: 6.14%;
  bottom: 9.38%;
  color: #F0D12D;
}

.transparent_city {
    display: none;
}

.search .input {
    position: absolute;
    height: 48px;
    left: 80px;
    top: 490px;
    background-image: url('img/loupe.svg');
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 19px 16px;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 5px 35px 6px 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px; 
}

.search>p {
    display: inline-flex;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    height: 48px;
    left: 80px;
    top: 490px;
font-weight: 400;
font-size: 24px;
line-height: 29px;
}


.right_block {
width: 652px;
height: 864px;
left: calc(50% - 652px/2);
top: calc(50% - 864px/2);
overflow-y: scroll;
padding: 30px 82px 25px 30px;
}

.bg_right {
    position: relative;
    width: 50%;
    height: 1600px;
    left: 850px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    color: rgba(255, 255, 255, 0.47);
    
    background: rgba(0, 0, 0, 0.32);
}

.bg_blocks {
    background: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(5px);
border-radius: 15px;
}

.seven_days {
    padding: 15px;
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15px;
gap: 10px;

width: 545px;
height: 184px;
left: 0px;
top: 0px;
}

.bg_blocks>p {    /* подвинуть текст */
    margin-top: 0;
font-weight: 400;
font-size: 16px;
line-height: 19px;



}

.bg_blocks>p>img {
    margin-right: 10px;
}

.indexUV {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15px;
gap: 13px;

width: 175px;
height: 165px;
left: 0px;
top: 195px;
}

.sunset {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 18px 10px;
gap: 26px;

width: 175px;
height: 165px;
left: 185px;
top: 195px;
}

.rainfall {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 10px 19px;
gap: 13px;

width: 175px;
height: 165px;
left: 370px;
top: 195px;
}

.feels_like {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 14px 10px 15px;
gap: 14px;

width: 175px;
height: 165px;
left: 0px;
top: 370px;
}

.humidity {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 27px 10px;
gap: 31px;

width: 175px;
height: 165px;
left: 185px;
top: 370px;
}

.pressure {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2px 10px 27px;
gap: 23px;

width: 175px;
height: 165px;
left: 370px;
top: 370px;
}

.precipitation_map {
    width: 545px;
    height: 339px;
    left: 0px;
    top: 545px;
}